#footerwrap {
    margin: 40px 0px 0px;
}

#footer {
    position: relative;
    background: #5F5F5F none repeat scroll 0% 0%;
    padding: 40px 10px 40px 30px;
    color: #CCC;
    font-size: 11px;
    border-top: 5px solid #4C4C4C;
}

#footer .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 0px;
    border-color: #FFF transparent transparent;
    position: absolute;
    top: -5px;
    left: 475px;
}

#footerlogo {
    float: left;
    width: 215px;
    margin-right: 20px;
    color: #CCC;
    font-size: 11px;
}

#footer{
	position: relative;
	background: #5f5f5f;
	padding:40px 10px 40px 30px;
	color:#cccccc;
	font-size:11px;
	border-top:5px solid #4c4c4c;
}

#footer a{
	color:#cccccc;
	text-decoration: none;
}
#footer a:hover{
	color:#ffffff;
}

#footerlogo{
	float: left;
	width:215px;
	margin-right:20px;
	color:#cccccc;
	font-size:11px;
}

#footerlogo h4{
	font-size:24px;
	font-weight:600;
	margin-bottom:15px;
	color:#ffffff;
}
#footerlogo h4 a{
	color:#ffffff;
	text-decoration: none;
}

#footer .widget{
	width:215px;
	float: left;
	margin-right:20px;
}

#footer .widget h2{
	font-size:13px;
	color:#efefef;
	text-transform: uppercase;
	font-weight:700;
	padding:0 0 1px 0;
	line-height:8px;
	margin-bottom:30px;
	background: url(../images/teaser2.png);
}
#footer .widget h2 span{
	background: #5f5f5f;
	padding-right:5px;
}
#footer .widget li{
	border-bottom:1px dotted #818181;
	padding:5px 0;
	font-size:11px;
}
#footer .widget ul{
	border-top:1px dotted #818181;
}

#footer .widget_tag_cloud a{
	display:inline-block;
	padding:1px 6px;
	background: rgba(0, 0, 0, 0.2);
	font-size:11px !important;
	margin:0 6px 6px 0;
	-webkit-border-radius: 3px;
			border-radius: 3px; 
}
#footer .widget_tag_cloud a:hover{
	background: #ed7811;
	color:#ffffff;
}

#footer .searchform input{
	padding:6px 4px 6px 26px;
	border:1px solid #999999;
	color:#999999;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
	font-weight:400;
	font-size:11px;
	width:185px;
	background: url(../images/search-small.png) no-repeat 8px 8px;
}
#footer .searchform input:focus{
	border:1px solid #ffffff;
	color:#ffffff;
}

#footer #flickr_tab a{
	display:block;
	width:50px;
	height:50px;
	float:left;
	margin:0 5px 10px 5px;
	padding:5px;
	border: none;
	background: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 2px;
			border-radius: 2px; 
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.09);
			box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.09);
}

#footer #flickr_tab a:hover{
	background: #ed7811;
}

#footer #twitter_update_list li{
	padding-left:25px !important;
	background-position: 0px 7px;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    overflow: hidden;
    width: 51px;
    height: 51px;
    border: medium none;
    text-indent: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2) url("../images/top.png") no-repeat scroll center center;
}