.home{
	min-width:100%;
}
.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}
.posts .post-link {
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 1;
}

a:hover{
	text-decoration: none;
}

.title-post-page{
	color:#2a7ae2;
	padding-left: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

@media (max-width: 500px) {
      h1{
        font-size: 36px;  
      }
      li {
        display:block;
        padding:5px;
      }
    }