.home{
	min-width:100%;
}

.title-post{
	color:white;
	background-color: #2a7ae2;
	background-repeat: none;
	border: 10px solid #2a7ae2;
	padding: 0px 10px;
	border-radius: 30px;
}

a.title-post{
	color: white;
}

a:hover{
	text-decoration: none;
}

.meta-post{
	background-color: lightgray;
	background-repeat: none;
	padding: 0px 10px;
	border: 10px solid lightgray;
	border-radius: 30px;
	margin: -10px 0px;
}

.title-post-page{
	color:#2a7ae2;
	padding-left: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}