<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}

	<div class='row'>
	<div class="col-md-8 col-md-offset-2" style="text-align:justify">
		<header class="post-header">
	    <h2 class="title-post-page">{{ page.title }}</h2>
	    <!-- <p class="meta-post">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
	  </header>

	  <article class="post-content">
	  	
	  		{{ content }}	
	  	
	    
	  </article>
	  </div>
	</div>
</body>

{% include footer.html %}

</html>
